<div class="header">
  <app-logo-with-title
    title="{{ getBoardState().gameName }}"
  ></app-logo-with-title>
</div>

<div class="page-container">
  <app-board
    *ngIf="isConnected"
    [board]="getBoardState().getCurrentState()"
    (resetChoices)="resetChoices()"
    (revealUserChoices)="revealUserChoices()"
  ></app-board>
  <div *ngIf="!isConnected">Connecting...</div>
</div>

<div class="footer">
  <app-user-hand
    *ngIf="!getBoardState().areUserChoicesRevealed"
    [choice]="getCurrentUserChoice()"
    (choiceChanged)="setChoice($event)"
  ></app-user-hand>
  <app-voting-result
    *ngIf="getBoardState().areUserChoicesRevealed"
    [board]="getBoardState().getCurrentState()"
  ></app-voting-result>
</div>
