<div class="container" *ngIf="isConnected">
  Shared Room from {{ peerIdFromRoute }}

  <app-board
    [board]="getBoardState()"
    (resetChoices)="resetChoices()"
    (revealUserChoices)="revealUserChoices()"
  ></app-board>
  <app-user-hand
    *ngIf="!getBoardState().areUserChoicesRevealed"
    [choice]="userService?.getUserCurrentChoice() ?? undefined"
    (choiceChanged)="setChoice($event)"
  ></app-user-hand>
  <app-voting-result
    *ngIf="getBoardState().areUserChoicesRevealed"
    [board]="getBoardState()"
  ></app-voting-result>

  <button class="btn btn-primary" (click)="goBackToLobby()">Go back</button>
</div>

<div class="container" *ngIf="!isConnected">Connecting...</div>
