<div class="container">
  <div *ngFor="let user of users" class="card-container">
    <div
      class="card-body"
      [ngClass]="{ chosen: user.choice !== undefined && user.choice !== null }"
    >
      <div class="away-icon-container" *ngIf="user.state === 'Away'">
        <mat-icon fontIcon="hotel"></mat-icon>
      </div>
      <span class="unselectable" *ngIf="areUserChoicesRevealed">{{
        user.choice
      }}</span>
    </div>
    <span class="card-bottom-text unselectable">{{ user.name }}</span>
  </div>
</div>
