<div class="container">
  <div class="upper-board-container">
    <app-user-card-list
      [users]="getUserList().upper"
      [areUserChoicesRevealed]="board.areUserChoicesRevealed"
    ></app-user-card-list>
  </div>
  <div class="middle-board-container">
    <div class="board-center">
      <span
        class="f-bold"
        *ngIf="!didSomeoneChooseACard"
        style="color: #3f51b5"
      >
        Pick your cards!
      </span>
      <ng-container *ngIf="didSomeoneChooseACard">
        <button
          mat-flat-button
          color="primary"
          *ngIf="board.areUserChoicesRevealed"
          (click)="handleResetChoices()"
        >
          Start new voting
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="!board.areUserChoicesRevealed"
          (click)="handleRevealUserChoices()"
        >
          Reveal cards
        </button>
      </ng-container>
    </div>
  </div>
  <div class="bottom-board-container">
    <app-user-card-list
      [users]="getUserList().bottom"
      [areUserChoicesRevealed]="board.areUserChoicesRevealed"
    ></app-user-card-list>
  </div>
</div>
