<div class="board">
  <div *ngFor="let user of board.users" class="card-container">
    <div
      class="card-body"
      [ngClass]="{ chosen: user.choice !== undefined && user.choice !== null }"
    >
      <span class="unselectable" *ngIf="board.areUserChoicesRevealed">{{
        user.choice
      }}</span>
    </div>
    <span class="unselectable">{{ user.name }}</span>
  </div>

  <button *ngIf="board.areUserChoicesRevealed" (click)="handleResetChoices()">
    Iniciar nova
  </button>
  <button
    *ngIf="!board.areUserChoicesRevealed"
    (click)="handleRevealUserChoices()"
  >
    Revelar
  </button>
</div>
