<div class="container">
  <div class="upper-board-container">
    <app-user-card-list
      [users]="getUserList().upper"
      [areUserChoicesRevealed]="board.areUserChoicesRevealed"
    ></app-user-card-list>
  </div>
  <div class="middle-board-container">
    <div class="board-center">
      <button
        *ngIf="board.areUserChoicesRevealed"
        (click)="handleResetChoices()"
      >
        Iniciar nova
      </button>
      <button
        *ngIf="!board.areUserChoicesRevealed"
        (click)="handleRevealUserChoices()"
      >
        Revelar
      </button>
    </div>
  </div>
  <div class="bottom-board-container">
    <app-user-card-list
      [users]="getUserList().bottom"
      [areUserChoicesRevealed]="board.areUserChoicesRevealed"
    ></app-user-card-list>
  </div>
</div>
