@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

  .card-body {
    border: 2px solid #3f51b5;
    border-radius: 6px;
    height: 60px;
    width: 35px;
    display: flex;

    &.chosen {
      border: 2px solid #7589f9;
      background: #7589f9;
      span {
        color: white;
      }
    }

    span {
      margin: auto;
      font-weight: bold;
      font-size: 17px;
      color: #3f51b5;
    }
  }
}

.f-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@keyframes loading {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 359deg;
  }
}

.loading-icon {
  display: flex;
  height: fit-content;
  width: fit-content;
  transform: translate(0%, 0%);
  -webkit-animation: loading 1.5s linear infinite; /* Chrome, Safari, Opera */
  animation: loading 1.5s linear infinite;
}
